.image-btn {
  background: none;
  border: 0px;
  padding: 0px;
  height: auto;
}

.navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;
}

.first-item {
  margin-right: 5px;
}

.no-pad p {
  margin: 0;
}

.last-label {
  margin-right: 5px;
  margin-left: auto;
}

.navbar div {
  overflow: hidden;
}
